<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ApplicationSpringHibernate</display-name>
 	
 	<!--  1ere  -->
  	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!--  2 eme -->
    <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring-beans.xml</param-value>
	</context-param>
	
	<!-- 4 eme  -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/application-servlet-config.xml</param-value>
		</init-param>
	</servlet>
	
	<!-- 3 eme  -->
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.aspx</url-pattern>
	</servlet-mapping>
	
	<!-- 5 eme  -->
	<welcome-file-list>
	  	<welcome-file>default.aspx</welcome-file>
	</welcome-file-list>
	
</web-app>